@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-color: #212121;
  color: #ffffff;
  user-select: none;
  -webkit-user-select: none;
  overflow: hidden;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #E58E35;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0,0,0,0.5);
}

input[type="range"]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #E58E35;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0,0,0,0.5);
}
